.home .section-11 {
  position: relative;
}
.home .section-11 video {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.home .section-11 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 300px;
  color: white;
  width: 90%;
  padding-right: 0%;
  text-align: left;
}
.home .section-11 .text .header {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -3px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  line-height: 1.3;
}

.home .section-11 .text .content {
  font-size: 22px;
  letter-spacing: -1px;
  padding-right: 200px;
  line-height: 1.6;
}

@media (max-width: 750px) {
  .home .section-11 video {
    width: 100vw;
    height: auto;
  }

  .home .section-11 .text {
    height: 90%;
    width: 90%;
    padding-right: 0%;
    text-align: left;
  }
  .home .section-11 .text .content {
    padding-right: 0;
  }
}
