/* mobile view */
@media (max-width: 750px) {
  .home .section-11 {
    width: 87.5%;
    margin: 0 auto;
    font-weight: 500;
    padding: 100px 0 0;
  }

  .home .section-11 .container-1 > div {
    margin: 0 auto;
  }

  .home .section-11 .container-1 .header {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .home .section-11 .container-1 .context {
    font-size: 40px;
    max-width: 292px;
  }

  .home .section-11 .container-1 .img-1,
  .home .section-11 .container-2 .img-2 {
    width: 100%;
    padding: 30px 0;
  }

  .home .section-11 .container-2 {
    text-align: left;
    margin: 20px 0 0;
  }

  .home .section-11 .container-2 .header {
    font-size: 28px;
    letter-spacing: -1px;
  }

  .home .section-11 .container-2 .context {
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 1.5;
  }

  .home .section-11 .container-2 .notes > div {
    font-size: 20px;
    letter-spacing: -0.5px;
    margin-top: 12px;
    margin-left: 15px;
  }
}
