.home .section-1 {
  position: relative;
  z-index: 5;
  background-color: white;
  min-width: 90%;
  height: 2500px;
}

.home .section-1 .canvas-container {
  position: relative;
  height: 2300px;
  padding: 0;
}

.home .section-1 canvas {
  position: absolute;
  top: calc(100vh - 730px);
  right: 50px;
  width: 500px;
  margin: auto;
}

.home .section-1 .canvas-container img {
  position: absolute;
  height: 170px;
  left: 0;
}

.home .section-1 .canvas-container .imgs {
  position: sticky;
  top: calc(750px - 100vh + 400px);
  height: 100vh;
}

.home .section-1 .canvas-container .imgs .main-img {
  top: calc(100vh - 510px);
  width: 940px;
  height: 500px;
}

.home .section-1 > div {
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0 170px 0;
  transform: translateY(-400px);
}

.home .section-1 .robot-img {
  width: 740px;
}

.home .section-1 .header {
  font-size: 96px;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 1;
  color: red;
  text-align: left;
  margin: 0;
}

.home .section-1 .context,
.home .section-1 .link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.home .section-1 .context {
  font-size: 48px;
  letter-spacing: -0.5px;
  line-height: 1.15;
  text-align: left;
  margin: 35px 0;
}

.home .section-1 .link {
  font-size: 24px;
  color: black;
  text-decoration: none;
  float: left;
  margin-bottom: 1px;
}

.home .section-1 .link:hover {
  text-decoration: underline;
}

/* tablet view */
@media (max-width: 1070px) {
  .home .section-1 {
    height: 2300px;
  }

  .home .section-1 > div {
    width: 630px;
    padding-top: 0;
  }

  .home .section-1 .header {
    font-size: 64px;
  }

  .home .section-1 .context {
    font-size: 32px;
    margin-top: 0;
  }

  .home .section-1 .link {
    font-size: 21px;
  }

  .home .section-1 canvas {
    position: absolute;
    top: calc(100vh - 590px);
    right: -20px;
    width: 370px;
    margin: auto;
  }

  .home .section-1 .canvas-container .imgs .main-img {
    top: calc(100vh - 420px);
    width: 630px;
    height: auto;
  }

  .home .section-1 .canvas-container .imgs {
    position: sticky;
    top: calc(750px - 100vh + 300px);
    height: 100vh;
  }
}

/* mobile view */
@media (max-width: 750px) {
  .home .section-1 {
    height: auto;
  }

  .home .section-1 > div {
    width: 87.5%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 70px;
    transform: translateY(0px);
  }

  .home .section-1 .robot-img {
    width: 100vw;
  }

  .home .section-1 .header {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.05;
  }

  .home .section-1 .context {
    font-size: 21px;
    margin: 24px 0 20px 0;
    letter-spacing: -0.5px;
    line-height: 1.2;
  }

  .home .section-1 .link {
    font-size: 17px;
  }
}
