.home .section-5 {
  position: relative;
  width: 980px;
  margin: 1600px auto 0 auto;
  height: 2900px;
  z-index: 2;
}

.home .section-5 .container-1,
.home .section-5 .container-2 {
  width: 280px;
  text-align: left;
}

.home .section-5 .header {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.home .section-5 .context {
  font-size: 17px;
  line-height: 1.4;
}

.home .section-5 .container-2 {
  margin-top: 870px;
}

.home .section-5 .container-3 {
  margin: 260px 0 0 520px;
  width: 450px;
  text-align: left;
}

.home .section-5 video {
  position: absolute;
  box-shadow: 0 0 20px 3px rgb(212, 212, 212);
}

.home .section-5 .gif-A {
  width: 950px;
  top: 650px;
  left: -20vw;
  right: -20vw;
  margin: 0 auto;
}

.home .section-5 .gif-B {
  width: 500px;
  top: 1230px;
  right: 100px;
}

.home .section-5 .gif-C {
  width: 500px;
  top: 1780px;
  left: -20px;
}

.home .section-5 .gif-D {
  width: 950px;
  top: 2320px;
  right: -20vw;
  left: -20vw;
  margin: 0 auto;
}

.home .section-5 .img-5 {
  width: 1100px;
  height: 800px;
  top: 2920px;
  left: -100px;
  right: -100px;
  margin: 0 auto;
}

/* tablet view */
@media (max-width: 1070px) {
  .home .section-5 {
    width: 690px;
    height: 2600px;
  }

  .home .section-5 .container-1,
  .home .section-5 .container-2 {
    width: 252px;
  }

  .home .section-5 .header {
    font-size: 48px;
  }

  .home .section-5 .container-2 {
    margin-top: 560px;
  }

  .home .section-5 .container-3 {
    margin: 250px 0 0 290px;
    width: 404px;
    text-align: left;
  }

  .home .section-5 .img-1 {
    width: 600px;
    top: 510px;
    left: -350px;
  }

  .home .section-5 .img-2 {
    width: 800px;
    top: 580px;
    right: -470px;
  }

  .home .section-5 .img-3 {
    width: 850px;
    top: 1480px;
    left: -620px;
  }

  .home .section-5 .img-4 {
    width: 600px;
    top: 1170px;
    right: -200px;
  }
  .home .section-5 .img-5 {
    top: 2100px;
  }
}

/* mobile view */
@media (max-width: 750px) {
  .home .section-5 {
    width: 87.5%;
    margin: 20px auto 0;
    height: auto;
  }

  .home .section-5 video {
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px 2px rgb(202, 202, 202);
    margin-top: 20px;
  }

  .home .section-5 .blockchain {
    box-shadow: unset;
    width: 100vw;
    transform: translateX(-6.25%);
  }

  .home .section-5 .container-1 {
    max-width: 420px;
    width: 100%;
    margin-top: 40px;
  }

  .home .section-5 .header {
    font-size: 28px;
    margin: 20px 0 10px;
    color: var(--main-color);
  }

  .home .section-5 .container-2 {
    margin-top: 40px;
    max-width: 420px;
    width: 100%;
  }

  .home .section-5 .container-3 {
    margin: 40px 0 0 0;
    max-width: 420px;
    width: 100%;
  }

  .home .section-5 img {
    position: relative;
    padding-top: 40px;
  }

  .home .section-5 .img-1,
  .home .section-5 .img-3,
  .home .section-5 .img-5 {
    width: 420px;
    height: 322px;
    top: 0;
    left: 0;
  }

  .home .section-5 .img-2,
  .home .section-5 .img-4 {
    width: 322px;
    height: 420px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .home .section-5 .img-1 {
  }

  .home .section-5 .img-2 {
  }

  .home .section-5 .img-3 {
  }

  .home .section-5 .img-4 {
  }

  .home .section-5 .img-5 {
    right: 0;
    margin: 0;
  }
}
