.home .section-5 {
  position: relative;
  width: 980px;
  margin: 900px auto 0 auto;
  height: 3570px;
  z-index: 2;
}

.home .section-5 .container-1,
.home .section-5 .container-2 {
  width: 280px;
  text-align: left;
}

.home .section-5 .header {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.home .section-5 .context {
  font-size: 17px;
  line-height: 1.4;
}

.home .section-5 .container-2 {
  margin-top: 1070px;
}

.home .section-5 .container-3 {
  margin: 600px 0 0 360px;
  width: 450px;
  text-align: left;
}

.home .section-5 img {
  object-fit: cover;
  position: absolute;
}

.home .section-5 .img-1 {
  width: 1100px;
  top: 750px;
  left: -800px;
}

.home .section-5 .img-2 {
  width: 1400px;
  top: 900px;
  right: -830px;
}

.home .section-5 .img-3 {
  width: 1200px;
  top: 2100px;
  left: -900px;
}

.home .section-5 .img-4 {
  width: 1000px;
  top: 1900px;
  right: -360px;
}

.home .section-5 .img-5 {
  width: 1100px;
  height: 800px;
  top: 2920px;
  left: -100px;
  right: -100px;
  margin: 0 auto;
}

/* tablet view */
@media (max-width: 1070px) {
  .home .section-5 {
    width: 690px;
    height: 2600px;
  }

  .home .section-5 .container-1,
  .home .section-5 .container-2 {
    width: 252px;
  }

  .home .section-5 .header {
    font-size: 48px;
  }

  .home .section-5 .container-2 {
    margin-top: 560px;
  }

  .home .section-5 .container-3 {
    margin: 250px 0 0 290px;
    width: 404px;
    text-align: left;
  }

  .home .section-5 .img-1 {
    width: 600px;
    top: 510px;
    left: -350px;
  }

  .home .section-5 .img-2 {
    width: 800px;
    top: 580px;
    right: -470px;
  }

  .home .section-5 .img-3 {
    width: 850px;
    top: 1480px;
    left: -620px;
  }

  .home .section-5 .img-4 {
    width: 600px;
    top: 1170px;
    right: -200px;
  }
  .home .section-5 .img-5 {
    top: 2100px;
  }
}

/* mobile view */
@media (max-width: 750px) {
  .home .section-5 {
    width: 87.5%;
    margin: 0 auto;
    height: auto;
  }

  .home .section-5 .container-1 {
    max-width: 420px;
    width: 100%;
  }

  .home .section-5 .header {
    font-size: 28px;
  }

  .home .section-5 .container-2 {
    margin-top: 40px;
    max-width: 420px;
    width: 100%;
  }

  .home .section-5 .container-3 {
    margin: 40px 0 0 0;
    max-width: 420px;
    width: 100%;
  }

  .home .section-5 img {
    position: relative;
    padding-top: 40px;
  }

  .home .section-5 .img-1,
  .home .section-5 .img-3,
  .home .section-5 .img-5 {
    width: 420px;
    height: 322px;
    top: 0;
    left: 0;
  }

  .home .section-5 .img-2,
  .home .section-5 .img-4 {
    width: 322px;
    height: 420px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .home .section-5 .img-1 {
  }

  .home .section-5 .img-2 {
  }

  .home .section-5 .img-3 {
  }

  .home .section-5 .img-4 {
  }

  .home .section-5 .img-5 {
    right: 0;
    margin: 0;
  }
}
