.home .section-8 {
  text-align: left;
  width: 980px;
  margin: 0 auto;
}

.home .section-8 .header {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.home .section-8 .context {
  font-size: 17px;
  line-height: 1.4;
}

.home .section-8 .container-1 {
  display: flex;
  position: relative;
  margin: 120px 0 60px 0;
}

.home .section-8 .container-1 > div {
  width: 320px;
  padding-top: 100px;
  padding-left: 50px;
}

.home .section-8 .container-1 .img {
  position: absolute;
  top: 0;
  left: -200px;
  height: 1000px;
  object-fit: cover;
}

.home .section-8 .container-2 {
  display: flex;
  position: relative;
}

.home .section-8 .container-2 .img {
  position: absolute;
  top: 0;
  right: -500px;
  height: 800px;
  object-fit: cover;
}

.home .section-8 .container-2 > div {
  width: 320px;
  padding-top: 100px;
  padding-left: 50px;
  margin-right: auto;
}

.home .section-8 video {
  box-shadow: -2px 0 20px -5px grey;
}
/* tablet view */
@media (max-width: 1070px) {
  .home .section-8 {
    width: 690px;
  }

  .home .section-8 .container-1 {
    margin-bottom: 50px;
  }

  .home .section-8 .container-1 .header,
  .home .section-8 .container-2 .header {
    font-size: 48px;
  }

  .home .section-8 .container-1 > div,
  .home .section-8 .container-2 > div {
    width: 290px;
    padding-top: 450px;
  }

  .home .section-8 .container-1 .img {
    width: 60%;
    height: 780px;
    left: -50px;
  }

  .home .section-8 .container-2 .img {
    width: 60%;
    height: 720px;
    right: -50px;
  }
}

/* mobile view */
@media (max-width: 750px) {
  .home .section-8 {
    width: 87.5%;
    margin: 30px auto 0;
  }
  .home .section-8 .container-1 {
    margin: 0;
  }

  .home .section-8 .container-1 > div,
  .home .section-8 .container-2 > div {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .home .section-8 .container-1 .header,
  .home .section-8 .container-2 .header {
    font-size: 28px;
    text-align: left;
  }

  .home .section-8 .container-1 .context,
  .home .section-8 .container-2 .context {
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
  }

  .home .section-8 .container-1 .img,
  .home .section-8 .container-2 .img {
    position: relative;
    left: 0;
    width: 50vw;
    height: 60vw;
    margin: 20px 0 40px;
  }
}
